/* header */
header {
  background-color: #002855;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.menu-toggle {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  z-index: 20;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: all 0.3s ease;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: rgb(165, 225, 247);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links a:hover,
.nav-links a.active {
  background-color: #e2bceb;
  color: #012247;
}

@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #002855;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .nav-links.active {
    max-height: 300px; /* yeterli yükseklik */
    padding: 10px 0;
  }
}


/* main */
main {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #222;
}

/* footer */
footer {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  font-size: 0.9em;
  color: #555;
}
