body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  color: #222;
  margin: 0;
  padding: 0;
}

header {
  background-color: #002855;
  color: white;
  padding: 20px 40px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
}

main {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
  flex-grow: 1;
}

h2 {
  margin-top: 30px;
  color: #012247;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background: white;
  border: 1px solid #ddd;
  padding: 15px 20px;
  margin-bottom: 15px;
  border-radius: 6px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

li:hover {
  background-color: #e6f0ff;
}

.back-home {
  background-color: #002855; /* Lacivert arka plan */
  text-align: center;
  padding: 15px 0;
}

.back-home a {
  color: #a5e1f7; /* Açık mavi ton */
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.back-home a:hover {
  color: #e2bceb;
  text-decoration: underline;
}

footer {
  text-align: center;
  font-size: 0.9em;
  color: #555;
  padding: 20px;
  background-color: #f1f1f1;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    margin: 10px 0;
  }
}
